version: "3.9" 

services:
  app:
    build: .
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root123
      - DB_NAME=projecthub_db
      - DB_PORT=3306

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: projecthub_db
    ports:
      - "3307:3306"
